<html>
    <head>
        <link type="text/css" rel="stylesheet" href="stylesheet.css">
    </head>

    <body>

        <div class="topnav">
            <a href="home">Home</a>
            <a href="changePassLink">Change Password</a>
            <a href="createUser">Create Usre</a>
            <a href="userInfo">User Info</a>
        </div>

        <h1>Change Your Password Here</h1>

        <form method="POST" action="/changePass">
            Old Password: <input type="text" autocomplete="off" name="oldPass"><br>
            New Password: <input type="password" name="newPass"><br>
            Confirm New Password: <input type="password" name="confPass"><br>
            <input type="submit">
        </form>
        
        <% if (typeof mssg !== 'undefined') { %>
            <p><span <% if(mssg.success) { %> id="successMssgDisp" <% } else { %> id="errorMssgDisp" <% } %>><%= mssg.message %></span></p>
        <% }; %>


    </body>
</html>